@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden;

}

.container {
    width: max(40%, 600px);
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.img {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.img img {
    width: 100%;
    height: 50%;
}

.img .cat {
    width: 100%;
    height: 75%;
}

.left,
.right {
    width: 45%;
    height: 50vh;

    z-index: 1;


    display:flex;
    justify-content:center;
    align-items: center;
    

    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 45.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
}



.btns {
    display: flex;

    justify-content: center;
    align-items: center;

    
    height: 50px;
    width: max(45%, 500px);

    position: absolute;
    top: 90px;
}

button {
    width: 40%;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    color: white;
    margin: 50px;
    border-radius: 10px;

    transform: scale(0.98);
    transition: 0.7s ease;

    border: 1px solid rgb(255, 255, 255) 
}


button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
    
}

button:focus {
    outline: none;
}

span {
    font-size: 150%;
    font-weight: 500;
    text-transform: capitalize;
}

img {
    height: 100%;
    width: 100%;
}